@import "tailwindcss";

@theme inline {
  --font-public: var(--font-public);

  --color-cyan-50: hsl(191, 45%, 98%);  
  --color-cyan-100: hsl(176, 17%, 83%); 
  --color-cyan-300: hsl(179, 19%, 56%);
  --color-cyan-500: hsl(173, 72%, 53%);
  --color-cyan-600: hsl(186, 33%, 28%);
  --color-cyan-700: hsl(194, 38%, 16%);
  --color-cyan-900: hsl(191, 35%, 6%);

  --color-gray-200: hsl(200, 15%, 92%);
}

body {
  background-color: var(--color-cyan-50);
  color: var(--color-cyan-900);
  font-family: var(--font-public);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: hsl(194, 6%, 43%)
}
::-webkit-scrollbar-track {
  background: hsl(195, 5%, 69%);
}

@utility opacityTransition {
  opacity: 0%;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.opacityTransition.open {
  visibility: visible;
  opacity: 100%;
}
.opacityTransition.open.half {
  opacity: 50%;
}

@utility colorTransition {
  transition-property: color background-color border;
  transition-duration: .3s;
}

@utility auth-label {
  margin-bottom: 8px;
}
@utility auth-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  @variant focus {
    border-color: var(--color-cyan-300);
  }
}
@utility auth-icon {
  right: 8px;
}

@utility optional-label {
  color: var(--color-gray-400);
  font-size: 16px;
  font-style: italic;
  margin-left: 4px;
}